body {
margin: 0;
padding: 0;
}

/* Navbar container */
.navbar {
overflow: hidden;
background-color: #333;
font-family: Arial;
}

/* Links inside the navbar */
.navbar a {
float: left;
font-size: 16px;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
}

/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit;
margin: 0;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover,
.dropdown:hover .dropbtn {
background-color: rgb(80,80,80);
}

.navbar a:active {
background-color: red;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

#menu-button {
margin: 30px;
padding: 30px;
display: none;
}

#p-title {
display: flex;
justify-content: space-around;
}

h1 {
width: 70%;
font-family: sans-serif;
font-family: 'Permanent Marker', cursive;
font-size: 4em;
font-weight: 600;
}

#root {
display: flex;
justify-content: space-around;
height: auto;
}

#mid {
width: 70%;
height: auto;
background-color: rgb(238, 237, 237);
border-style: groove;
border-color: darkolivegreen;
box-shadow: 0 0 30px gray;
padding: 10px;
border-radius: 5px;
}

#mtext {
padding-left: 10px;
padding-right: 10px;
}

h2 {
font-size: 2.3em;
font-family: sans-serif;
padding-bottom: 15px;
padding-top: 30px;
border-bottom: double orangered;
}

h3 {
font-size: 2em;
font-family: sans-serif;
padding-bottom: 15px;
padding-top: 30px;
border-bottom: double orangered;
}

p {
font-size: 1.5em;
border: darkslateblue solid;
border-radius: 10px;
padding: 15px;
}

body {
background-color: lightgrey;
}

#foot {
height: 150px;
background-color: rgb(54, 51, 51);
padding: 30px;
display: flex;
justify-content: center;
text-align: center;
font-family: sans-serif;
background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

footer {
color: rgb(225, 225, 225);
margin-top: auto;
}

#cat {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
align-items: center;
}

img:not(.sel) {
display: inline-block;
width: 172px;
height: auto;
margin-bottom: 10px;
border: solid darkslateblue 3px;
border-radius: 22px;
}

#star-selector,
#class-selector {
display: flex;
justify-content: center;
}

#star-selector>label {
margin-left: 10px;
margin-right: 10px;
}

.sel {
display: inline-block;
vertical-align: middle;
height: 34px;
width: 34px;
}

figure {
margin: 10px;
}

figcaption {
text-align: center;
font-family: sans-serif;
font-size: 90%;
margin-bottom: 10px;
}

label {
display: inline-block;
vertical-align: top;
font-family: sans-serif;
font-size: 1.5em;
margin-left: 20px;
}


#mobile-nav {
display: none;
}

#mobile-nav > ul {
margin: 0;
padding: 0;
list-style-type: none;
font-size: 1.5em;
background-color: #333;;
}

#mobile-nav > ul >li > a {
font-family: sans-serif;
display: block;
text-decoration: none;
color: white;
padding: 10px;
}

@media (max-width: 720px) {
    .navbar {
        display: none;
    }

    #mobile-nav {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        font-size: 1.5em;
    }

    #mobile-nav.open {
        display: block;
    }

    #mobile-nav > ul > li {
        border-top: 2px solid lightgray
    }

    #mobile-nav > ul > li > a:hover {
        background-color: rgb(80,80,80);
    }

    #mobile-nav > ul > li > a:active {
        background-color: red;
    }

    h1 {
        width: 95%;
        font-size: 8vw;
        text-align: center;
        padding: 8px;
        color: white;
    }

    #mid {
        width: 95%;
    }

    #menu-button {
        padding: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

    }

    #menu-button:hover {
        background-color: rgb(80, 80, 80);

    }

    #p-title {
        background-color: #333;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        position: sticky;
        left: 0;
        right: 0;
        top: 0;
        padding: 0px;
    }

}