
h3 {
font-size: 2em;
font-family: sans-serif;
padding-bottom: 15px;
padding-top: 30px;
border-bottom: double orangered;
}

p {
font-size: 1.5em;
border: darkslateblue solid;
border-radius: 10px;
padding: 15px;
}

#comm, #rare {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
align-items: center;
}

img {
display: inline-block;
height: 142px;
width: 142px;
margin-bottom: 10px;
border: solid darkslateblue 3px;
border-radius: 12px;
}

figure {
margin: 10px;
cursor: pointer;
}

figcaption {
text-align: center;
font-family: sans-serif;
font-size: 80%;
margin-bottom: 10px;
}
