
h3 {
font-size: 2em;
font-family: sans-serif;
padding-bottom: 15px;
padding-top: 30px;
border-bottom: double orangered;
}

p {
font-size: 1.5em;
border: darkslateblue solid;
border-radius: 10px;
padding: 15px;
}

body {
background-color: lightgrey;
}

#foot {
height: 150px;
background-color: rgb(54, 51, 51);
padding: 30px;
display: flex;
justify-content: center;
text-align: center;
font-family: sans-serif;
background: linear-gradient(to top, black 0%, rgba(0, 0, 0, 0.738) 19%, rgba(0, 0, 0, 0.541) 34%, rgba(0, 0, 0, 0.382) 47%, rgba(0, 0, 0, 0.278) 56.5%, rgba(0, 0, 0, 0.194) 65%, rgba(0, 0, 0, 0.126) 73%, rgba(0, 0, 0, 0.075) 80.2%, rgba(0, 0, 0, 0.042) 86.1%, rgba(0, 0, 0, 0.021) 91%, rgba(0, 0, 0, 0.008) 95.2%, rgba(0, 0, 0, 0.002) 98.2%, transparent 100%);
}

footer {
color: rgb(225, 225, 225);
margin-top: auto;
}

table {
border-collapse: collapse;
}

tr {
font-size: 1.5em;
padding: 15px;
}

td {
border: darkslateblue solid;
border-radius: 10px;
}

#chars {
display: flex;
flex-direction: row;
flex-wrap: wrap;
justify-content: center;
align-content: flex-start;
align-items: center;
}

img:not(.sel) {
display: inline-block;
width: 172px;
height: auto;
/* width: 100%;
height: auto; */
margin-bottom: 10px;
border: solid darkslateblue 3px;
border-radius: 8px;
}

.red img {
background-color: rgb(255, 202, 202);
}

.blue img {
background-color: lightsteelblue;
}

.green img {
background-color: rgb(219, 255, 219);
}

.light img {
background-color: lightgoldenrodyellow;
}

.dark img {
background-color: rgb(253, 204, 255);
}

#star-selector,
#color-selector {
display: flex;
justify-content: center;
}

#star-selector>label {
margin-left: 10px;
margin-right: 10px;
}

.sel {
display: inline-block;
vertical-align: middle;
height: 34px;
width: 34px;
}

figure {
margin: 10px;
}

figcaption {
text-align: center;
font-family: sans-serif;
font-size: 90%;
margin-bottom: 10px;
}

label {
display: inline-block;
vertical-align: top;
font-family: sans-serif;
font-size: 1.5em;
margin-left: 20px;
}
