
h5 {
font-size: 1.7em;
font-family: sans-serif;
padding-bottom: 0px;
margin-bottom: 0px;
padding-left: 15px;
}

p {
font-size: 1.5em;
border-radius: 10px;
padding: 15px;
}

#ban {
width: 190px;
height: auto;
border: solid darkslateblue 3px;
border-radius: 8px;
}

img {
max-width: 100%;
}

img:not(.sel) {
display: inline-block;
width: 172px;
height: auto;
margin-bottom: 10px;
border: solid darkslateblue 3px;
border-radius: 8px;
}

.red img {
background-color: rgb(255, 202, 202);
}

.blue img {
background-color: lightsteelblue;
}

.green img {
background-color: rgb(219, 255, 219);
}

.light img {
background-color: lightgoldenrodyellow;
}

.dark img {
background-color: rgb(253, 204, 255);
}

figure {
margin: 10px;
}

div.chars {
display: flex;
flex-direction: row;
justify-content: center;
}
