
p {
font-size: 1.5em;
border-radius: 10px;
padding: 15px;
}

div.banners {
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: row;
font-family: sans-serif;
font-size: 1.4em;
font-weight: 500;
border-bottom: solid lightgray;

}

img.ban {
width: 190px;
height: auto;
border: solid darkslateblue 3px;
border-radius: 8px;
}

img {
max-width: 100%;
}

.red {
background-color: rgb(255, 202, 202);
}

.blue {
background-color: lightsteelblue;
}

.green {
background-color: rgb(219, 255, 219);
}

.light {
background-color: lightgoldenrodyellow;
}

.dark {
background-color: rgb(253, 204, 255);
}

li {
margin-bottom: 10px;
}

@media (max-width: 720px) {

    div.banners {
        font-size: 3vw;
    }

}